{% extends 'base.html.twig' %}
{% block title %}Accueil Agence immobilière{% endblock %}
{% block body %}

	<div class="jumbotron text-center">
		<h1>Notre agence est heureuse de vous accueillir</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quia.</p>
	</div>

	<div class="container">
		<h2 class="text-purple">Nos derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
					<div class="card" data-lat data-lng>
{#						top part of the card with image#}
						{% if property.filename  %}
							<img src="{{ vich_uploader_asset(property) }}" alt="card-img-top" class="card-img-top" id="img-home">
						{% else %}
							<img src="{{ asset('images/properties/empty2.jpg') }}" alt="card-img-top">
						{% endif %}
{#						bottom pârt of card with text#}
						<div class="infos-top">
							<div class="rooms">{{ property.rooms }} pièces</div>
							<div class="surface">{{ property.surface }} m²</div>
						</div>
						<div class="card-body">
							<h5 class="card-title">{{ property.title }}</h5>
							<div class="card-text">{{ property.postalCode }} {{ property.city }}</div>
						</div>
						<div class="infos-bottom">
							<div class="text-primary text-purple price">{{ property.price | number_format(0, '', ' ') }} €</div><!-- number format is 0 nb after comma, then a space to separate thousands  -->
							<button class="btn btn-add-favorite"><i class="fas fa-heart"></i></button>
						</div>
					</div>
					</a>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}