{% extends 'base.html.twig' %}
{% block title %}Accueil Agence immobilière{% endblock %}
{% block body %}

		<div class="jumbotron text-center">
			<h1>Notre agence est heureuse de vous accueillir</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quia.</p>
		</div>

	<div class="container">
		<h2>Nos derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">

						{% if property.filename  %}
{#							<img src="{{ vich_uploader_asset(property) }}" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">#}
							{#	<img src="/images/properties/{{ property.filename }}" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">#}
							{#	<img src="/public/images/properties/5f1d7a0e81163225912584.jpg" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">#}
								<img src="{{ asset("images/properties/5f1d7a0e81163225912584.jpg") }}" alt="image">  <!-- TODO insert image dynamically  -->
						{% else %}
							<img src="{{ asset('images/properties/empty2.jpg') }}" alt="card-img-top">
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<div class="card-text">{{ property.postalCode }} {{ property.city }}</div>
							<div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.price | number_format(0, '', ' ') }} €</div> <!-- TODO CSS --> <!-- number format is 0 nb after comma, then a space to separate thousands  -->
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}