{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
	<div class="jumbotron">
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-8">
					{% if property.filename  %}
						<img src="{{ vich_uploader_asset(property) }}" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">
						{#	<img src="/images/properties/{{ property.filename }}" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">#}
						{#	<img src="/public/images/properties/5f1d7a0e81163225912584.jpg" alt="card-img-top" class="card-img-top" style="width: 100%; height: auto;">#}
{#						<img src="{{ asset("images/properties/5f1d7a0e81163225912584.jpg") }}" alt="image">  <!-- TODO insert image dynamically  -->#}
						{% else %}
							<img src="{{ asset('images/properties/empty2.jpg') }}" alt="card-img-top">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ property.title }}</h1>
					<h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>
					<div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.price | number_format(0, '', ' ') }} €</div>  <!-- TODO remove decimal -->
					<a href="#" class="btn btn-primary">Contacter l'agence</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">

		<nav class="nav nav-tabs mb-4" id="tab"></nav>
		<p>{{ property.description }} | nl2br</p>    <!--   nl2br allows for automatique line returns   -->

		<div class="row">
			<div class="col-md-12">
				<h2>Caractéristiques</h2>
				<table class="table table-striped">
					<tr>
						<td>Surface habitable</td>
						<td>{{ property.surface }} m²</td>
					</tr>
					<tr>
						<td>Pièces</td>
						<td>{{ property.rooms }}</td>
					</tr>
					<tr>
						<td>Chambres</td>
						<td>{{ property.bedrooms }}</td>
					</tr>
					<tr>
						<td>Étage</td>
						<td>{{ property.floor }}</td>
					</tr>
					<tr>
						<td>Chauffage</td>
						<td>{{ property.heatType }}</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
{% endblock %}





